
body {
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top:0px;
}

#we {
    font-family: futura;
    font-size: 4000px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:5250px;
    left:-500px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#zoom {
    font-family: futura;
    font-size: 70px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:100px;
    left:0px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#are {
    font-family: futura;
    font-size: 600px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4250px;
    left:200px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#still {
    font-family: futura;
    font-size: 100px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4100px;
    left:135px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#living {
    font-family: futura;
    font-size: 20px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4050px;
    left:145px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#under {
    font-family: futura;
    font-size: 10px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4038px;
    left:146px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#the {
    font-family: futura;
    font-size: 8px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4030px;
    left:146px;
    text-transform: uppercase;
    text-decoration:none;
    
}
#reign {
    font-family: futura;
    font-size: 6px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4023px;
    left:146px;
    text-transform: uppercase;
    text-decoration:none;
    
}
#of {
    font-family: futura;
    font-size: 4px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4018px;
    left:146px;
    text-transform: uppercase;
    text-decoration:none;
    
}

#logic {
    font-family: futura;
    font-size: 2px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 0px;
    line-height: 160px;
    position: absolute;
    top:4015px;
    left:146px;
    text-transform: uppercase;
    text-decoration:none;
    
}










